.App {
  text-align: center;
}

/* Gradient header on all pages */
.header {
  padding: 2vw;
  background-image: linear-gradient(to right, #00afce , #ef9db3);
}

/* Gradient sidebar when menu is active */
.sidebar {
  background-image: linear-gradient(to bottom, #00afce , #ef9db3);
  height: 100vh;
  width: 4vw;
  float: left;
  /* position: relative; */
}

/* Home page styling */
h1 {
font-family: canada-type-gibson, sans-serif;
font-weight: 900;
font-style: normal;
color: #000000;
font-size: 12vw;
line-height: 9vw;
}

#title {
  display: inline-block;
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 0px;
}

#maintitle {
  text-align: center;
}

#subtitle {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 3vw;
  line-height: 3.25vw;
  width: 72vw;
  padding-left: 12vw;
  padding-right: 15vw;
  text-align: left;
}

hr {
  width: 73vw;
  height: 0.7vw;
  margin:0 auto;
  padding:0 auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-color:#000000;
}

.psubtitle {
  margin: 0px;
}

.psubtitle em {
  background: -o-linear-gradient(right, #00afce, #ef9db3);
  background: -moz-linear-gradient(right, #00afce, #ef9db3);
  background: linear-gradient(to right, #00afce , #ef9db3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

/* Menu styling */
.menubutton {
  position: static;
  padding-top: 3vw;
  padding-left: 83vw;
  display:inline-block;
  justify-content: center;
  border: 0px;
}

.menubuttonimage {
  height: auto;
  width: 18%;
}

#menucities {
font-family: canada-type-gibson, sans-serif;
font-weight: 900;
font-style: normal;
color: #000000;
font-size: 2.5vw;
line-height: 0.5vw;
text-align: left;
}

#menucities:hover {
  color: #00afce;
}

#menuitems {
font-family: canada-type-gibson, sans-serif;
font-weight: 900;
font-style: normal;
color: #000000;
font-size: 5vw;
line-height: 1vw;
text-align: right;
}

#menuitems:hover {
    color: #ef9db3;
}

#menuleft {
  padding-left: 18vw;
}

#menuright {
  padding-right: 18vw;
}

#hrmenu {
  width: 30vw;
  height: 0.7vw;
  margin:0 auto;
  padding:0 auto;
  margin-top: 0vw;
  margin-right: 100vw;
  background-color:#000000;
}

.menulinks {
  text-decoration: none;
}

/* Styling for index page */
p.filterbuttontext {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
  font-size: 3vw;
  line-height: 1vw;
  text-align: left;
  margin: 0px;
  text-align: center;
}

#filters {
  height: 1vw;
  padding: 2vw;
  background-image: linear-gradient(to right, #00afce , #ef9db3);
  align: center;
  margin: 3.5vw;
}

.filterwrapper {
  margin: 0 auto;
  width: 100px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding-bottom: 0px !important;
}

.MuiBox-root-134 {
  padding-top: 0px !important;
}

.indexcard {
  text-align: center;
  /* width: 10vw; */
}

.housewifeindeximg {
  /* width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0; */
  /* background-color: transparent;
  background-repeat: repeat; */

  /* max-width: 40vw;
  max-height: 10vw;
  object-position: 100% 0;
  object-fit: scale-down; */
  object-fit: cover;
  object-position: 50% 0;
  width: 15vw;
  height: 30vw;
  border: 0px;
  border-style: solid;
  margin-right: 0.5vw;
}

.housewifeindeximg:hover {
  opacity: 75%;
  transition: 0.5s ease;
  /* background-color: #008CBA; */
}

h5 {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
  font-size: 1.5vw;
  line-height: 1.75vw;
  text-align: left;
  margin: 0px;
  text-align: center;
  background: -o-linear-gradient(right, #00afce, #ef9db3);
  background: -moz-linear-gradient(right, #00afce, #ef9db3);
  background: linear-gradient(to right, #00afce , #ef9db3);
  text-decoration: none;
}

h6 {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
  font-size: 0.9vw;
  line-height: 1.0vw;
  text-align: left;
  margin: 0px;
  text-align: center;
  background: -o-linear-gradient(right, #00afce, #ef9db3);
  background: -moz-linear-gradient(right, #00afce, #ef9db3);
  background: linear-gradient(to right, #00afce , #ef9db3);
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* Show page styling */
h2 {
font-family: canada-type-gibson, sans-serif;
font-weight: 900;
font-style: normal;
color: #000000;
font-size: 8vw;
line-height: 9vw;
}

#housewifeimg {
  display: contents;
  padding-top: 10vw;
  padding-right: 10vw;
  margin-bottom: 0px;
}

#housewifetitle {
  display: contents;
  /* float: right; */
  /* position: relative; */
  left:-10vw;
  top:-200vw;
}

#housewifesubtitle {
  display: block;
  /* float: right; */
  /* position: relative; */
  left: 3vw;
  top: -20vw;
}

.housewifeshowimg {
  object-fit: cover;
  object-position: 50% 0;
  width: 15vw;
  height: 40vw;
  border: 0px;
  border-style: solid;
  margin-right: 0.5vw;
}

h8 em {
  font-family: canada-type-gibson, sans-serif;
  display: inline-flex;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 0px;
  text-align: center;
  background: -o-linear-gradient(right, #00afce, #ef9db3);
  background: -moz-linear-gradient(right, #00afce, #ef9db3);
  background: linear-gradient(to right, #00afce , #ef9db3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  text-decoration: none;
  line-height: 120%;
}

h8  {
  font-family: canada-type-gibson, sans-serif;
  display: inline-block;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  font-size: 1.5vw;
  line-height: 120%;
  text-align: left;
  font-style: normal;
  text-decoration: none;
}

.item {
  display: inline-block;
}

.item + .item::before {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

br {
   display: block;
   margin: 10em 0;
}